/AgregarFoto/NegocioTVF/NegocioAgregarFoto/NegocioAgregarFoto-ejb/nbproject/private/
/AgregarFoto/NegocioTVF/NegocioAgregarFoto/NegocioAgregarFoto-war/nbproject/private/
/AgregarFoto/NegocioTVF/NegocioAgregarFoto/nbproject/private/
/ComprarFoto/NegocioComprarFoto/NegocioComprarFoto/build/
/ComprarFoto/NegocioComprarFoto/NegocioComprarFoto/dist/
/ComprarFoto/NegocioComprarFoto/NegocioComprarFoto/nbproject/private/